<!-- src/views/domicilios/solic-detalle.hbs -->

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalles del Domicilio</title>
  </head>
  <body>
    <!-- Menú -->
    {{#if esGestion}}
      {{> menu-gestion }}
    {{else}}
      {{> menu-solic }}
    {{/if}}

    <section class="section">
      <div class="container">
        <h1 class="title">Detalles del Domicilio</h1>

        <!-- Información del Domicilio -->
        <div class="box">
          <table class="table is-striped">
            <tbody>
              <tr>
                <th>ID</th>
                <td id="solicitud-id">{{idSolicitud}}</td>
              </tr>
              <tr>
                <th>Solicitado por</th>
                <td id="solicitud-usuario"></td>
              </tr>
              <tr>
                <th>Estado</th>
                <td id="solicitud-estado"></td>
              </tr>
              <tr>
                <th>Actividad</th>
                <td id="solicitud-actividad"></td>
              </tr>
              <tr>
                <th>Destinatario</th>
                <td id="solicitud-destinatario"></td>
              </tr>
              <tr>
                <th>Dirección</th>
                <td id="solicitud-direccion"></td>
              </tr>
              <tr>
                <th>Barrio</th>
                <td id="solicitud-barrio"></td>
              </tr>
              <tr>
                <th>Teléfono</th>
                <td id="solicitud-telefono"></td>
              </tr>
              <tr>
                <th>Centro de costos</th>
                <td id="solicitud-centro-costos"></td>
              </tr>
              <tr>
                <th>Instrucciones</th>
                <td id="solicitud-instrucciones"></td>
              </tr>
              <tr>
                <th>Fecha de Solicitud</th>
                <td id="gestion-fecha-solicitud">
                </td>
              </tr>
              <tr>
                <th>Fecha de Entrega</th>
                <td id="gestion-fecha-entrega">
                </td>
              </tr>
              <tr>
                <th>Mensajero</th>
                <td id="gestion-mensajero"></td>
              </tr>
              <tr>
                <th>Valor</th>
                <td id="gestion-valor"></td>
              </tr>
              <tr>
                <th>Vr adicional</th>
                <td id="gestion-vr-adicional"></td>
              </tr>
              <tr>
                <th>Observaciones</th>
                <td id="gestion-observaciones"></td>
              </tr>
            </tbody>
          </table>

          <!-- Botón para editar -->  
          <a id="buttonEditar" class="button is-warning">Editar</a>

          <!-- Botón para regresar -->
          {{!-- <a href="javascript:history.back()" class="button is-primary">Regresar</a> --}}
          <a href="javascript:void(0)" class="button is-light" onclick="window.history.back(); return false;">Regresar</a>
        </div>
      </div>

    </section>
    <script>
       // ID del usuario autenticado
      const userId = {{{jsonify userId}}};
      // Definimos la URL de retorno en el frontend y el origen
      const returnUrl = "{{returnUrl}}";
      const origin = "{{origin}}";
    </script>
    <script type="module" src="/js/detalle-solicitudes.js"></script>
  </body>
</html>